* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #222222;
  color: #ffffff;
  font-family: 'NotoSans';
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */

}



input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.mode-tag {
  position: absolute;
  color: #ffffff;
  background-color: #000000;
  bottom: 0px;
  left: 0px;
  padding: 1vw;
  font-size: 2vw;
  z-index: 10;
}

.icon-btn {
  background-size: contain;
  background-repeat: no-repeat;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Web Fonts */
/* ============================================================= */


@font-face {
  font-family: 'Jura';
  src: url('../fonts/jura-v13-latin-regular.woff');
}

@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSansCJKTC-Light.woff');
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPT.woff');
}

/* Prototype */
/* ============================================================= */

.prototype {
  font-family: monospace;
  border: 1px solid #bbbbbb;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 5px;
}

.proto-btn {
  color: #ffffff;
  font-family: monospace;
  border: 1px solid #dddddd;
  background-color: #333333;
  padding: 5px;
  cursor: pointer;
}

.proto-btn-disabled {
  background-color: #999999;
}

.proto-btn-block {
  color: #ffffff;
  font-family: monospace;
  border: 1px solid #dddddd;
  background-color: #333333;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
  min-width: 100px;
  text-align: center;
}

/* General Components */
/* ============================================================= */

/* top-nav-bar  ------------------------------------------------ */

.top-nav-bar {
  overflow: hidden;
  height: 8vh;
  width: 96vw;
  border-bottom: 1px solid #555555;
  margin-left: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}


.logo {
  height: 6vh;
  float: left;
  font-family: 'Jura', 'NotoSans';
  line-height: 6.5vh;
  padding-left: 10vh;
  font-size: 2vw;
}

.hex-logo {
  background-image: url('../images/logo.svg');
  background-position: left 2vh;
  background-repeat: no-repeat;
  background-size: auto 2.5vh;
  margin: 0px auto;
  color: #cccccc;
}

.top-item {
  float: left;
  width: 5vh;
  height: 6vh;
  float: right;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;

}

.top-item-api {
  background-image: url('../images/api_on.png');
}

.top-item-api-off {
  background-image: url('../images/api_off.png');
}

.top-item-net {
  background-image: url('../images/net_on.png');
}

.top-item-net-off {
  background-image: url('../images/net_off.png');
}

.top-item-eq {
  background-image: url('../images/eq_on.png');
}

.top-item-eq-off {
  background-image: url('../images/eq_off.png');
}

.top-item-gps {
  background-image: url('../images/gps_on.png');
}

.top-item-gps-prepare {
  background-image: url('../images/gps_check.png');
}

.top-item-gps-off {
  background-image: none;
}

.top-item-wifi {
  background-image: url('../images/wifi.png');
}

.top-item-lan {
  background-image: url('../images/lan.png');
}

.top-item-cell {
  background-image: url('../images/cell.png');
}

.top-item-update {
  background-image: url('../images/update-arrows.png');
}

.top-time {
  left: 45vw;
  transform: translateX(-50%);
  position: absolute;
}

.top-time-cont {
  height: 6vh;
  font-family: 'Jura', 'NotoSans';
  line-height: 6.5vh;
  font-size: 2vw;
}

.top-item-time {
  display: inline-block;
  padding-left: 2vw;
}

.top-item-date {
  display: inline-block;
  padding-left: 10vw;
}


.main {
  width: 100vw;
  height: 82vh;
}

.main-page {
  width: 100vw;

}

.page-dashboard {
  position: absolute;
  top: calc(50% - 2vh);
  transform: translate(0, -50%);
  /* display: none; */
}



.main {}

.main-date-time {
  width: 100vw;
  float: left;
}

.main-time {
  font-family: 'Jura', 'NotoSans';
  font-size: 700%;
  text-align: center;
}

.main-date-time-max {
  margin-top: -2vw;
}

.main-date-time-max .main-time {
  font-size: 1400%;
}

.main-date-time-max .main-date {
  font-size: 240%;
}

.main-date {
  font-family: 'FuturaPT', 'NotoSans';
  font-size: 160%;
  text-align: center;
  letter-spacing: 0.1vw;
}

.main-notify-container {
  width: 100vw;
  height: 47vh;
  display: inline-block;
}

.main-notify {
  background-color: #262626;
  border-radius: 0.5vw;
  width: fit-content;
  /* height: 41.5vh; */
  margin-top: 1vw;
  padding-top: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;

  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.main-notify-item {
  background-color: #2d2d2d;
  border-radius: 0.5vw;
  float: left;
  padding-top: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: center;

  width: 18vw;
  height: calc(40vh - 2vw);
  margin-left: 1vw;
  background-repeat: no-repeat;
  background-size: auto 15vh;
  background-position: center 1vh;
}

.main-notify2 {
  background-color: #262626;
  border-radius: 0.5vw;

  height: 35vh;
  margin: 2vw;
  padding-top: 1vw;
  padding-right: 1vw;

  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.main-notify-item2 {
  background-color: #2d2d2d;
  border-radius: 0.5vw;
  width: 18vw;
  height: calc(35vh - 2vw);
  margin-left: 1vw;
  text-align: center;
  padding-top: 15vh;
  padding-left: 1vw;
  padding-right: 1vw;
  float: left;
  background-repeat: no-repeat;
  background-size: auto 13vh;
  background-position: center 1vh;
}

.notify-item-text {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 2vw;
  font-size: 140%;
  line-height: 160%;
  letter-spacing: 0.5vw;
  font-weight: bold;
}

/* .notify-item-title {
  padding-left: 2vw;
  font-size: 140%;
  line-height: 160%;
  letter-spacing: 0.5vw;
  font-weight: bold;
} */

.notify-item-desc {

  font-size: 110%;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  height: 9.5vh;
}

.notify-item-humi-bk {
  background-color: #00478a;
}

.notify-item-humi {
  background-image: url('../images/alarm-humidity.png');
}

.notify-item-detail {
  background-size: auto 6vh;
  background-repeat: no-repeat;
  background-position: 0vw 1vh;
}

.notify-item-cold-bk {
  background-color: #006d55;
}

.notify-item-cold {
  background-image: url('../images/alarm-cold.png');
}

.notify-item-hot-bk {
  background-color: #770000;
}

.notify-item-hot {
  background-image: url('../images/alarm-temp.png');
}

.bottom-nav-bar {
  overflow: hidden;
  height: 10vh;
  width: 96vw;
  border-top: 1px solid #555555;
  margin-left: 2vw;
  padding-top: 1.5vh;
  /* position: absolute; */
  bottom: 0vh;
  font-family: 'FuturaPT',
    'NotoSans';

}

.to-botton {
  position: absolute;
}

.bottom-item-container {
  float: left;
  position: absolute;
  width: fit-content;
  left: 50%;
  transform: translate(-50%);
  background-color: #2d2d2d;
  border-radius: 0.5vw;
  margin-top: -0.5vh;
}

.bottom-item {
  float: left;
  /* margin-right: 1vw; */

  /* padding-top: 1.5vh; */
  padding-bottom: 1vh;
  font-size: 160%;

  background-size: 2.8vw auto;
  background-repeat: no-repeat;
  background-position: 0.5vw center;
  padding-left: 3.5vw;
  color: #cccccc;


  padding-right: 1.1vw;

  max-width: 29vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.bottom-item-input {
  margin-top: 1vh;
  line-height: 5.5vh;
  padding-left: 10vh;
  font-size: 2vw;
  /* padding-top: 1vh; */
  letter-spacing: 0.5vw;
  background-color: #2d2d2d;
  color: white;
  border-style: none;
}

.bottom-desc {
  padding-left: 3.7vw;
}

.weather-sun {
  background-image: url('../images/weather-sun.png');
}

.bottom-item-area {
  background-image: url('../images/location.png');
}

.bottom-item-temp {
  background-image: url('../images/temp.png');
}

.bottom-item-humidity {
  background-image: url('../images/humidity.png');
}

.bottom-item-rain-chance {
  background-image: url('../images/rain.png');
}

.bottom-item-pm25 {
  background-image: url('../images/pm25.png');
  padding-left: 3.5vw;
}

.pm25 {
  padding-left: 0.5vw;
}

.pm25-low-1 {
  color: rgb(156, 255, 156);
}

.pm25-low-2 {
  color: rgb(49, 255, 0);
}

.pm25-low-3 {
  color: rgb(49, 207, 0);
}

.pm25-mid-1 {
  color: rgb(255, 255, 0);
}

.pm25-mid-2 {
  color: rgb(255, 207, 0);
}

.pm25-mid-3 {
  color: rgb(255, 154, 0);
}

.pm25-high-1 {
  color: rgb(255, 100, 100);
}

.pm25-high-2 {
  color: rgb(255, 0, 0);
}

.pm25-high-3 {
  color: rgb(185, 0, 0);
}

.pm25-very-high {
  color: rgb(206, 48, 255);
}

/* Announce */
/* ============================================================= */

.page-announce {
  /* display: none; */
}

.announce {
  /* margin-top: -2vw; */
  padding-left: 3vw;
  padding-right: 3vw;
  background-color: #222222;

}

.announce-title {
  text-align: center;
  font-size: 250%;
  line-height: 200%;
}

.announce-content {
  text-align: justify;
  font-size: 180%;
  line-height: 150%;
}

.announce-ind {
  position: absolute;
  bottom: 0vh;
  left: 50%;
  transform: translate(-50%);
  float: left;
}

.announce-ind-item {
  width: 1.5vw;
  height: 1.5vw;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1vw;
  float: left;
  margin: 0.5vw;
}

.announce-ind-item-sel {
  background-color: #ffffff;
}

.announce-black-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 100;
}

/* Media */
/* ============================================================= */

.announce-media {
  height: 82vh;
  display: flex;
  align-items: center;
}

.announce-media-cont {
  margin: auto;
}

.announce-video {
  font-size: 200%;
  padding-top: 40vh;
  text-align: center;
}

/* EarthQuake */
/* ============================================================= */

.page-eq-alarm {
  /* height: 100%; */
  padding: 2vw;
  background-image: url('../images/warning-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  /* display: none; */
}

.eq-main {
  background-color: #000000;
  height: calc(82vh - 4vw);
  padding: 1vw;
}

.eq-main-left {
  display: inline-block;
  height: calc(82vh - 6vw);
  width: 45vw;
  background-color: #3371b6;
}

.eq-main-right {
  margin-top: 5vh;
  vertical-align: top;
  display: inline-block;
  width: 40vw;
  margin-left: 3vw;
}

.eq-main-mid {
  margin-left: 3vw;
  height: calc(82vh - 6vw);
  width: 87vw;
}

.eq-title {
  text-align: center;
  font-size: 250%;
  line-height: 180%;
  letter-spacing: 2vw;
  font-weight: bold;
  margin-left: 1vw;
}

.eq-title-en {
  letter-spacing: 0vw;
  font-size: 200%;
}

.eq-title-text {
  text-align: center;
  font-size: 5vw;
  line-height: 6vw;
  letter-spacing: 4vw;
  font-weight: bold;
}

.eq-title-text-en {
  letter-spacing: 1vw;
}

.eq-text-en {
  font-family: 'Jura', 'NotoSans';
}

.eq-desc {
  line-height: 150%;
  text-align: center;
  font-size: 160%;
  letter-spacing: 0.5vw;
}

.eq-desc-en {
  font-size: 200%;
  letter-spacing: 0;
}

.eq-level {
  color: rgb(255, 168, 37);

}

.eq-text-cont {
  text-align: center;
  height: 64vh;
}

.eq-text-level {
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  font-size: 25vw;
  letter-spacing: 0.5vw;
  font-weight: bold;
  color: rgb(255, 168, 37);
}

.eq-text-level-en {
  font-size: 30vw;
}

.eq-text-value {
  font-size: 30vw;
}

.eq-text-value-en {
  font-size: 15vw;
}

.eq-time {
  text-align: center;
  font-size: 250%;
  line-height: 150%;
  font-weight: bold;
  color: rgb(255, 38, 0);
  letter-spacing: 1vw;
}

.eq-time-en {
  font-size: 200%;
  line-height: 130%;
  letter-spacing: 0;
}

.eq-text-evac {
  vertical-align: middle;
  display: inline-block;
  text-align: left;
  font-size: 5vw;
  line-height: 8vw;
  font-weight: bold;
  color: rgb(255, 38, 0);
  letter-spacing: 0.3vw;
  margin-left: 1vw;
}

.eq-text-evac-en {
  margin-left: 3vw;
  line-height: 7vw;
}

.eq-hr-bar-text {
  width: 70vw;
}

.eq-hr-bar {
  width: 32vw;
}

.eq-current-area {
  text-align: center;
  font-size: 230%;
  line-height: 200%;
  font-weight: bold;
  color: #ffea00
}

/* NotifyView */
/* ============================================================= */

.notify_view {}

.notify_view_warning {}

.notify_view_error {}

.notify_section {
  float: left;
  width: 85vw;
}

.notify_section_title {
  float: left;
  font-family: 'KozMinPr6N', 'NotoSans';
}

.notify_section_progress_bar {
  float: left;
  background-color: #82dadc;
  display: none;
}

.notify_section_progress_bar_error {
  float: left;
  height: 100%;
  background-color: #EA5514;
}

.notify_section_progress_bar_warning {
  float: left;
  height: 100%;
  background-color: red;
}

.notify_section_detail_number {
  float: left;
  font-family: 'KozMinPr6N', 'NotoSans';
  display: none;
}

.notify_section_detail_button {
  float: left;
  background-image: url('../images/detail_button_expand.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: none;
}

.notify_section_selecting .notify_section_detail_button {
  background-image: url('../images/detail_button_close.png');
}

.notify_section_detail_list {
  float: left;
  width: 85vw;
  position: static;
  display: none;
  border-style: solid;
  border-color: #EA5514;
}

.notify_section_detail_list_warning {
  border-color: red;
}

.notify_section_detail_scroll_area {
  overflow: hidden;
  width: 100%;
}

.notify_section_detail_item {
  float: left;
  width: 96%;
}

.notify_section_detail_item_selected {
  background-color: white;
  color: black;
}

.notify_section_detail_item_title {
  font-family: 'KozMinPr6N', 'NotoSans';
  float: left;
}

.notify_section_detail_item_status {
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
}

.notify_section_detail_item_status_red {
  background-image: url('../images/notify_detail_item_status_red.svg');
}

.notify_section_detail_item_status_orange {
  background-image: url('../images/notify_detail_item_status_orange.svg');
}

.notify_status_image {
  position: absolute;
  background-image: url('../images/notify_status_ok.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.notify_view_warning .notify_status_image {
  display: none;
}

.notify_view_error .notify_status_image {
  display: none;
}

.notify_view_warning .notify_section_progress_bar {
  display: block;
}

.notify_view_error .notify_section_progress_bar {
  display: block;
}

.notify_view_warning .notify_section_detail_number {
  display: block;
}

.notify_view_error .notify_section_detail_number {
  display: block;
}

.notify_view_warning .notify_section_detail_button {
  display: block;
}

.notify_view_error .notify_section_detail_button {
  display: block;
}

.notify_section_selecting {}

.notify_view_warning .notify_section_selecting .notify_section_detail_list {
  display: block;
}

.notify_view_error .notify_section_selecting .notify_section_detail_list {
  display: block;
}

.notify_status_text {
  position: absolute;
  display: none;
  text-align: center;
}

.notify_view_warning .notify_status_text {
  display: block;
  color: red;
}

.notify_view_error .notify_status_text {
  display: block;
  color: #EA5514;
}

.canvas-item {

  height: 70%;
  width: 100%;

}

.bar-chart-item {
  height: 75%;
}

.bar-hot-background {
  margin-top: 1%;
  position: absolute;
  height: 60%;
  width: 4%;
  background-color: red;
  left: 15%;
  z-index: 1;
}

.bar-hot-value {
  margin-top: 1%;
  position: absolute;
  height: 30%;
  width: 4%;
  background-color: #ec8cec;
  left: 15%;
  z-index: 2;
}

.bar-cold-background {
  margin-top: 1%;
  position: absolute;
  height: 60%;
  width: 4%;
  background-color: #2f2fc59e;
  left: 48%;
  z-index: 1;
}

.bar-cold-value {
  margin-top: 1%;
  position: absolute;
  height: 52%;
  width: 4%;
  background-color: #6bab6bad;
  left: 48%;
  z-index: 2;
}

/* FloorSelectView */